# Python virtual environment
.venv/
venv/
env/
Include/
Lib/
Scripts/
pyvenv.cfg

# Bytecode and cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Secrets
.env
*.env
